<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Пример формы</title>
</head>
<body class="bod">
{% extends "base1.html" %}

{% block content %}
<div class="bozhestw">
    <form method="post">
        <div action="" method="post" novalidate style="width: 900px; display: block; margin: auto"
             class="topovie">
        </div>
        <div class="two">
            <h4 class="one" style="margin: auto;padding-top: 100px;">
                {{form.about(class="form-control")}}</h4>
            <div style="height: 20px;"></div>
            <div style="height: 20px;"></div>
            <h6 style="margin: auto" class="niga">Email</h6>
            <div style="height: 20px;"></div>
            {{form.content(class="form-control")}}<br>
            <div style="height: 20px;"></div>
            <h6 style="margin: auto" class="niga">Пароль</h6>
            <div style="height: 20px;"></div>
            <h6>{{ form.fiz() }} {{ form.fiz.label }}</h6>
            <h6>{{ form.math() }} {{ form.math.label }}</h6>
            <h6>{{ form.informatick() }} {{ form.informatick.label }}</h6>
            <h6>{{ form.news() }} {{ form.news.label }}</h6>
        </div>
        <p class="mastera">
        <p class="se">{{ form.submit(type="submit", class="btn btn-primary", style="width: 350px;")
            }}</p>
{% endblock %}
</form>
</div>
</body>
</html>
