{% extends "base1.html" %}

{% block content %}
{% if gad == 0 %}
<div class="alert alert-danger" role="alert"
     style="padding-left: 450px;margin: auto">
    Не допустимое расширение файла
</div>
{% elif gad == 2 %}
<div class="alert alert-danger" role="alert"
     style="padding-left: 450px;margin: auto">
    Задача с таким заголовком уже есть
</div>
{% elif gad == 3 %}
<div class="alert alert-danger" role="alert"
     style="padding-left: 450px;margin: auto">
    Длинное название заголовка
</div>
{% elif gad == 4 %}
<div class="alert alert-danger" role="alert"
     style="padding-left: 450px;margin: auto">
    Нельзя вводить слова длиннее 30 символов
</div>
{% endif %}
<div class="bozhestw">
    <form method="post" enctype="multipart/form-data">
        <div action="" method="post" novalidate style="width: 900px; display: block; margin: auto"
             class="topovie">
            <div class="two">
                <div style="height: 15px;"></div>
                <h6 style="padding-top: 5px;">Заголовок</h6>
                <h4 class="one" style="margin: auto">
                    {{form.about(class="form-control", style="width: 360px;")}}</h4>
                <div style="height: 20px;"></div>
                <h6>Информация</h6>
                <div style="width: 10px;"></div>
                {{form.content(class="form-control", style="width: 360px;height: 100px;")}}<br>
                <div style="height: 5px;"></div>
                <h6>{{ form.fiz() }} {{ form.fiz.label }}</h6>
                <h6>{{ form.math() }} {{ form.math.label }}</h6>
                <h6>{{ form.informatick() }} {{ form.informatick.label }}</h6>
                <h6>{{ form.news() }} {{ form.news.label }}</h6>
            </div>
            <div style="height: 30px;"></div>
            <div class="form-group">
                {{form.photo()}}
            </div>
            <div style="height: 5px;"></div>
            <p class="mastera">
            <p class="se">{{ form.submit(type="submit", class="btn btn-primary", style="width: 360px;")
                }}</p>
        </div>
    </form>
</div>
{% endblock %}