<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Регистрация</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}
<form method="post">
    <div action="" method="post" novalidate style="width: 900px; display: block; margin: auto"
         class="ma">
        {{ form.hidden_tag() }}
        {% for error in form.email.errors %}
        <div class="alert alert-danger" role="alert" style="width: 350px;margin-right: auto;">
            {{ error }}
        </div>
        {% endfor %}
        <div class="two">
            <h4 class="one" style="margin: auto;padding-top: 50px;">Форма регистрации</h4>
            <div style="height: 20px;"></div>
            <div style="height: 20px;"></div>
            <h6 style="margin: auto" class="niga">Email</h6>
            <div style="height: 20px;"></div>
            {{ form.email(class="form-control") }}<br>
            <div style="height: 20px;"></div>
            <h6 style="margin: auto" class="niga">Пароль</h6>
            <div style="height: 20px;"></div>
            {{ form.password(class="form-control", type="password") }}<br>
            <div style="height: 20px;"></div>
            <h6 style="margin: auto" class="niga">Повторите пароль</h6>
            <div style="height: 20px;"></div>
            {{ form.Repeat_password(class="form-control", type="password") }}<br>
            <div style="height: 20px;"></div>
            <h6 style="margin: auto" class="niga">Фамилия</h6>
            <div style="height: 20px;"></div>
            {{ form.surname(class="form-control") }}<br>
            <div style="height: 20px;"></div>
            <h6 style="margin: auto" class="niga">Имя</h6>
            <div style="height: 20px;"></div>
            {{ form.name(class="form-control")}}<br>
            <div style="height: 20px;"></div>
            <h6 style="margin: auto" class="niga">Возрост</h6>
            <div style="height: 20px;"></div>
            {{ form.age(class="form-control")}}<br>
            <div style="height: 20px;"></div>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

        </div>
    </div>
</form>
{% endblock %}
</body>
</html>
