<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Авторизация</title>
</head>
<body class="bod">
<div class="loginer">
    <form method="post">
        <div action="" method="post" novalidate style="width: 900px; display: block; margin: auto"
             class="topovie">
            <div class="three">
                <div style="height: 15px;"></div>
                <h2 style="margin: auto">Авторизация</h2>
                <div style="height: 40px;"></div>
                <h4>Email</h4>
                <h4 class="one">
                    {{form.email(class="form-control", style="width: 360px")}}</h4>
                <div style="height: 30px;"></div>
                 <h4>Пароль</h4>
                <div style="width: 10px;"></div>
                {{form.password(class="form-control", style="width: 360px;")}}
            </div>
            <p class="se">{{ form.submit(type="submit", class="btn btn-primary", style="width: 360px;")
                }}</p>
            <p class="se">{{ form.regist(type="submit", class="btn btn-primary", style="width: 360px;")
                }}</p>
        </div>
    </form>
</div>
</body>
</html>
